<?xml version="1.0" ?>
<jabberhangouts>
    <!-- This file contains options to be configured by the server administrator. -->
    <!-- Please read through all the options in this file -->

    <!-- The JabberID of the transport -->
    <jid>hangups.example.net</jid>

    <!-- The name of the transport in the service discovery list. -->
    <discoName>Google Hangouts Transport</discoName>

    <!-- The IP address or DNS name of the main Jabber server -->
    <mainServer>127.0.0.1</mainServer>

    <!-- The JID of the main Jabber server -->
    <mainServerJID>example.net</mainServerJID>

    <!-- The TCP port to connect to the Jabber server on -->
    <port>5347</port>

    <!-- The authentication token to use when connecting to the Jabber server -->
    <secret>secret</secret>

    <!-- SASL username used to bind to Jabber server. -->
    <!-- secret, above, is used for sasl password -->
    <!--<saslUsername>username-for-jabberd2-connection</saslUsername>-->

    <!-- Use external component binding. -->
    <!-- This dodges the need to manually configure all jids that talk to this transport. -->
    <!-- Jabberd2 requires saslUsername and useRouteWrap for this to work. -->
    <!-- Wildfire as of 2.6.0 requires just this. -->
    <!--<useComponentBinding/>-->

    <!-- Wrap stanzas in <route> stanza. -->
    <!-- Jabberd2 requires this for useComponentBinding. -->
    <!-- <useRouteWrap/> -->

    <!-- The location of the PID file -->
    <!-- Comment out if you do not want a PID file -->
    <pidFile>/var/run/jabberhangouts.pid</pidFile>

    <!-- The file to log to. Comment to only output to stdout -->
    <logFile>/var/log/jabberhangouts.log</logFile>

    <!-- Where to store the Hangouts OAuth refresh tokens -->
    <refreshTokenDirectory>/var/spool/jabberhangouts/refresh_tokens</refreshTokenDirectory>

    <!-- Where to store the registered users' information -->
    <spoolFile>/var/spool/jabberhangouts/spoolfile</spoolFile>

    <!-- Uncomment to dump XMPP protocol in the log file -->
    <!-- <debugXMPP/> -->

    <!-- Uncomment to dump Hangouts protocol in the log file -->
    <!-- <debugHangouts/> -->

    <!-- Uncomment to dump the transport protocol in the log file -->
    <!-- <debugTransport/> -->

</jabberhangouts>